<div class="container">
  <form [formGroup]="form"
    (ngSubmit)="onSubmit()" >
    <div formGroupName='userData'>
      <div class="form-group">
        <label for="username">username</label>
        <input type="text" 
        formControlName="username"
        id="username" class="form-control">
      </div>
      <span *ngIf="!form.get('userData.username').valid && form.get('userData.username').touched">
       <span *ngIf="form.get('userData.username').errors['unAuth']">
         Invalid User
       </span>
       <span *ngIf="form.get('userData.username').errors['required']">
          required data
       </span>
      </span>
      <div class="form-group">
        <label for="email">email</label>
        <input type="text"
        formControlName="email"
        id="email" class="form-control">
      </div>
      <span *ngIf="!form.get('userData.email').valid && form.get('userData.email').touched">
        Enter valid email ID
      </span>
    </div>
     
    <div class="radio" *ngFor="let gender of genders">
      <label>
        <input
        formControlName="gender"
          type="radio"
          [value]="gender">{{ gender }}
      </label>
    </div>
    <span *ngIf="!form.valid && form.touched">
      Enter valid data
    </span>
    <div class="form-group">
      <label for="smail">smail</label>
      <input type="text"
      formControlName="smail"
      id="smail" class="form-control">
      <!-- <small class="text-danger" [class.d-none]="form.get('smail').valid ||form.get('smail').touched">Enter email</small> -->
      <span *ngIf="!form.get('smail').valid && form.get('smail').touched">Enter valid email</span>
    </div>
    <div class="form-check mb-3">
      <input class="form-check-input" 
      formControlName="subscribe"
          type="checkbox">
          <label class="form-check-label">
            Send me mails
          </label>
    </div>
    <div class="form-group">
      <label for="password">password</label>
      <input type="text"
      formControlName="password"
      id="password" class="form-control">
    </div>
    <div class="form-group">
      <label for="confirmPassword">confirm password</label>
      <input type="text"
      formControlName="confirmPassword"
      id="confirmPassword" class="form-control">
    </div>
    <span *ngIf="form.errors?.mismatch">
      password mismatch
   </span>
    <div formArrayName="subjects">
      <button class="btn btn-default" type="button" (click)="onAddSubject()">ADD SUBJECT</button>
      <div *ngFor="let control of form.get('subjects')['controls']; let i=index">
        <input [formControlName]="i"
        type="text"/>
      </div>
    </div>
    <div formArrayName="skills" *ngFor="let skill of form.get('skills')['controls']; let i=index">
      <div [formGroupName]="i">
        <div class="form-group">
          <label for="skillName">skillName</label>
          <input type="text" 
          formControlName="skillName"
          id="skillName" class="form-control">
        </div>
        <div class="form-group">
          <label for="experience">experience</label>
          <input type="number" 
          formControlName="experience"
          id="experience" class="form-control">
        </div>
        <div class="form-group">
          <div class="radio" *ngFor="let i of levels">
            <label>
              <input
              formControlName="proficiency"
                type="radio"
                [value]="i">{{ i }}
            </label>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-secondary" type="button" (click)="addSkill()">ADD SKILL</button>
    <button class="btn btn-primary" type="submit">Submit</button> 
  </form>
</div> 
